@font-face {
    font-family:'Sneakers';
    src: url(../fonts/Sneakers.ttf);
}
@font-face {
    font-family: 'Polers-Free';
    src: url(../fonts/Polers-Free.ttf);
}
@font-face {
    font-family: 'centaur';
    src: url(../fonts/centaur.ttf);
}
@font-face {
    font-family: 'Profession-Regular';
    src: url(../fonts/Profession-Regular.ttf);
}

body {
    height: auto;
    width: auto;
}

.logo {
    font-family: 'Sneakers';
}

.sneakie {
    font-family: 'Polers-Free';
}

.texte, p, h4, h2 {
    font-family: 'centaur';
}

.banner {
    background-color: #9c9c9c;
}

.footer {
    font-family: 'Profession-Regular';
}

.navbar2 {
    background-color: rgb(235, 133, 133);
}

.sortietab {
    background-color: rgb(156, 156, 156);
}

.actutab {
    background-color: rgb(218, 216, 216);
}

