@font-face {
    font-family:'Sneakers';
    src: url(../fonts/Sneakers.ttf);
}
@font-face {
    font-family: 'Polers-Free';
    src: url(../fonts/Polers-Free.ttf);
}
@font-face {
    font-family: 'centaur';
    src: url(../fonts/centaur.ttf);
}
@font-face {
    font-family: 'Profession-Regular';
    src: url(../fonts/Profession-Regular.ttf);
}

body {
    background-color: #9c9c9c;
}

.logo {
    font-family: 'Sneakers';
}

.sneakie {
    font-family: 'Polers-Free';
}

.texte {
    font-family: 'centaur';
}

.banner {
    background-color: #9c9c9c;
}

.footer {
    font-family: 'Profession-Regular';
}