@font-face {
    font-family:'Sneakers';
    src: url(../fonts/Sneakers.ttf);
}
@font-face {
    font-family: 'Polers-Free';
    src: url(../fonts/Polers-Free.ttf);
}
@font-face {
    font-family: 'centaur';
    src: url(../fonts/centaur.ttf);
}
@font-face {
    font-family: 'Profession-Regular';
    src: url(../fonts/Profession-Regular.ttf);
}

.logo {
    font-family: 'Sneakers';
}

.sneakie {
    font-family: 'Polers-Free';
}
